
flask
flask-cors
python-dotenv

langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres

neo4j

PyMuPDF
requests
openai
google-generativeai

gunicorn
certifi

psycopg[binary]
psycopg_pool

sentence-transformers

fastapi
uvicorn
python-multipart

