flask
flask-cors
python-dotenv
langchain
langchain-community
langchain-openai
langgraph
langgraph-checkpoint-postgres
neo4j
PyMuPDF
requests
openai
google-generativeai
psycopg[binary]
psycopg_pool
fastapi
uvicorn
python-multipart